body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

button {
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
  }

button {
    transition: transform 0.7s ease-in-out;
}

.counter {
    font-size: 48px;
    color: #333;
    margin: 20px 0;
}

.container {
    text-align: center;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.store {
    margin: 0 auto;
    text-align: center;
    width: 300px;
    height: 300px;
}

.upgrade {
    margin-bottom: 10px;
    height: 60px;
    text-align: left;
    border: 2px solid #ccc;
    border-radius: 5px;
}

.upgrade:hover {
    background-color: #f9f9f9;
    border-color: #999;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.02);
    cursor: pointer;
}